@import "tailwindcss";

:root {
  font-family: "Segoe UI Variable", "Aptos", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f3f4f6;
  background: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

button {
  /* border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 0.6rem 1rem;
  font: inherit;
  cursor: pointer; */
  /* transition:
    transform 140ms ease,
    border-color 140ms ease,
    background-color 140ms ease,
    opacity 140ms ease; */
}
/* 1. WebKit Engines (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 2px; /* Set the width of the vertical scrollbar */
}
::-webkit-scrollbar-track {
  /* Set the background of the scrollbar track */
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent; /* Set the background of the scrollbar thumb */
  border-radius: 999px; /* Make the scrollbar thumb rounded */
  height: 1px; /* Set the height of the horizontal scrollbar thumb */
  /* Controls the draggable handle */
}
